body {
    background-color: floralwhite;
    margin: 0 3em;
}
.node--view-mode-teaser {
    margin-top: 2em;
    border: solid 4px #1a1a1a;
    padding: 2em;
}
.node__submitted {
    margin-top: -45px;
}
.pretty-lines img {
    margin-top: -20px;
}
.field-item img {
    float: left;
    margin-right: .5em;
    width: 150px;
    height: 112px;
}
a:link {
    text-decoration: none;
}